@charset "UTF-8";

body, ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;

}
a{
    text-decoration: none;
    color: white;
}
h1{
    background-color: rgb(245, 139, 0);
    margin-top: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 82px;

}


img{
    max-width: 100%;
    display: block;
}
.son{
    background-color: rgb(245, 139, 0);
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header{  /*cabeçalho*/
    background-color: black;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: sticky;
    top: 0px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 20px;
}
.menu li a {
    /*background-color:rgb(87, 0, 0);*/
    display: block;
    padding: 10px 10px;
}
/* flex box*/

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}
.flex> div, a img{
    flex: 1 1 300px;
    margin: 10px 10px;
}

.para{
    text-align: center;
    background-color: rgb(245, 139, 0);
    padding: 10px;
    margin-bottom: auto;
    
}
.roda{/*RODA PÉ*/
    background-color: black;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}
/*.flex{
    background-color: gray;
    border: 10px 10px 10px 10px;
}*/




    .cta {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(3, 3, 3);
  background-color:rgb(245, 139, 0);
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}



.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #f7d372;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 1px;
  margin-left: 1px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.download{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}